*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: "Keep on Truckin'", sans-serif;
}

.page-title {
  text-shadow: rgb(229, 184, 184) 2px 7px;
  margin: 10px;
  height: 75px;
  font-size: 3.5rem;
  letter-spacing: 5px;
}

.guitar-icon{
  width: 100px;
}

.top-head {
  text-align: center;
}

.add-book {
  font-size: 2rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background:rgb(229, 184, 184);
}

.input-form {
  background: whitesmoke;
  border: none;
  display: none;
}

form {
  width: fit-content;
  margin: auto;
  background:rgb(229, 184, 184);
  padding: 15px;
  border-radius: 10px;

}

.input-field {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  margin-bottom: 10px;
}

label {
  text-align: end;
}

input {
  width: 200px;
  padding: 5px;
}

.submit-field {
  text-align: center;
}

.library-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 810px;
  height: 300px;
  /* background: rgb(229, 184, 184); */
  background: url('assets/crowd.jpeg');
  background-size: cover;
  border-radius: 10px;
  padding: 25px;
  margin: auto;
}

.library-container > ul {
  background: rgb(229, 184, 184);
  min-width: 170px;
  height: 230px;
  margin-right: 20px;
  box-shadow: gray 5px 5px;
}

li {
  list-style: none;
  margin-top: 20px;
  font-size: .7rem;
  text-align: center;
}




