*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px 50px;
  font-family: "Helvetica", sans-serif;
  background-color: rgb(62, 61, 58);
}

.main-container {
  margin: 0px 50px;
  background-color: whitesmoke;
  padding: 30px 0px;
  height: 100%;
  /* border: 5px solid black; */
  border-radius: 10px;
}

.page-title {
  text-shadow: rgb(230, 170, 0) 2px 7px;
  margin: 10px;
  text-align: center;
  height: 75px;
  font-size: 5rem;
  letter-spacing: 5px;
}

.guitar-icon {
  width: 100px;
}

.top-head {
  text-align: center;
}

.add-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.add-book:hover {
  cursor: pointer; 
}

.input-form {
  background: whitesmoke;
  border: none;
  display: none;
}

h2 {
  text-align: center;
}

form {
  width: fit-content;
  margin: auto;
  background:rgba(255, 195, 26, .5);
  padding: 15px;
  border-radius: 10px;
  position: relative;
}

.form-container::after {
  content:  url('assets/electric-guitar.png');
  position: absolute;
  right: 70px;
  bottom: 300px;
}

.input-field {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  margin-bottom: 10px;
}

label {
  text-align: end;
}

input {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
}

.submit-field {
  text-align: center;
}

button {
  background: black;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Keep on Truckin'", sans-serif;
  color: rgba(255, 195, 26);
}

.example-text {
  font-size: .7rem;
  font-style: italic;
  color: rgba(0, 0, 0, .5);
  margin-left: 10px;
  margin-top: 20px;
  width: 150px;
  text-align: center;
}

.library-container {
  /* border: solid black 5px; */
  background: rgba(255, 195, 26, .3);
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
  min-height: 300px;
  background-size: cover;
  border-radius: 10px;
  padding: 25px 0px 25px 40px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.library-container > div {
  background: rgba(255, 195, 26);
  width: 170px;
  height: 230px;
  margin-right: 20px;
  box-shadow: black 10px 3px;
  border-radius: 1px;
  margin-bottom: 50px;
  position: relative;
}

.library-container::before {
  content:  url('assets/electric-guitar_2.png');
  position: absolute;
  left: -100px;
}

.book-El {
  overflow: scroll;
}

ul {
  margin-left: -30px;
}

li {
  list-style: none;
  margin-top: 20px;
  font-size: .7rem;
  text-align: center;
  word-wrap: break-word;
  width: 150px;
}

li:nth-child(1) {
  font-size: 1.3rem;
  text-shadow: 2px 2px rgb(239, 235, 235);
}

.read {
  width: 15px;
}

img.trash-icon {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-bottom: -70px;
  cursor: pointer;
  position:relative;
}

.toggle-read-btn {
  margin-left: 50px;
  margin-top: -10px;
  cursor: pointer;
}

.read-status {
  font-size: .8rem;
  margin-left: 72px;
}

.bottom-container {
  margin-left: 10px;
  margin-top: 30px;
}


@media(max-width: 1100px) {
  .page-title {
    font-size: 3rem;
  }

  .library-container > div {
    margin-left: 20px;
  }

  h2 {
    font-size: 1rem;
  }
}

/* @media(max-width: 600px) {
  body {
    background: whitesmoke;
  }
} */


